.header{
    min-height: 100px;
    background: #000;
    box-shadow: 2px 5px 10px 0 rgba(25, 25, 25, 0.8);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.button-box{
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.imgHome{
    background: url(Img/home.png) no-repeat 25% 35%;
}
.imgAdd{
    background: url(Img/file.png) no-repeat 28% 40%;;
}
.imgAbout{
    background: url(Img/care-about-planet.png) no-repeat 25% 45%;
}
.imgContact{
    background: url(Img/letter.png) no-repeat 25% 48%;
}